/* Mobile View */
@keyframes fadein {
    from{opacity: 0%}
    to{opacity: 100%}
}

.fa-solid{
    position: absolute;
    top: 24px;
    right: 24px;
    font-size: 50px;
    color: purple;
}

#indexbody{
    background-image: url('../images/mobile_bg.png');
    background-repeat: round;
    max-width: 100%;
}

#nationsbody{
    background-image: url('../images/bg_3.png');
    background-repeat: no-repeat;
    max-width: 100%;
}

#charactersbody{
    background-image: url('../images/mobile_bg_4.png');
    background-repeat: no-repeat;
    max-width: 100%;
}

#visionsbody{
    background-image: url('../images/bg_2.png');
    background-repeat: no-repeat;
    max-width: 100%;
}

header{
    align-items: stretch;
    display: flex;
    flex-wrap: wrap;
}

nav a{
    color: rgb(0, 0, 0);
    padding: 5px;
    display: inline-block;
}

.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    left: -500px;
    top: -40px;
  }

  .skip a:focus{
    background: white;
    top: 0;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
  }

nav{
    width: 500px;
    padding: 25px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    border-bottom: 10px solid rgb(74, 99, 189);
    background-color: white;
}

nav li.current{
    font-weight: bold;
    border: 5px solid rgb(57, 25, 89);;
    padding: 5px;
    color: antiquewhite;
}

nav :hover{
    color: black;
}

.nav_link{
    font-size: 24px;
}

h1{
    font-size: 48px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(183, 210, 255);
    font-family: 'Poppins', sans-serif;
    padding-top: 10px;
}

h2{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

h3{
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Poppins', sans-serif;
}

main ul{
    font-weight: bold;
    list-style-position: inside;
    list-style-type: disc;
    padding: 40px 25px 40px;
    font-size: 22px;
    font-family: 'Inter', sans-serif;
}

main{
    font-family: 'Open Sans', sans-serif;
    margin: 20px;
}

p{
    font-size: 18px;
    padding-top: 20px;
    padding-bottom: 20px;
}

img{
    width: 300px;
    border: 5px solid rgb(255, 243, 228);
    padding: 5px;
    margin: 20px;
}


img:hover{
    opacity: 0.5;
    border: 5px solid rgb(255, 255, 255);
    padding: 5px;
    margin: 20px;
}

.footer{
    padding: 10px;
    color: rgb(49, 49, 49);
    font-weight: bold;
    font-family: Verdana, Tahoma, sans-serif;
    background-color: whitesmoke;
}

#home_grid{
    display: grid;
    grid-template-rows: 0.2fr 0.2fr 1fr 0.2fr 0.2fr 0.5fr 0.2fr 0.05fr;
    grid-template-columns: 1fr;
    margin: auto;
}

#genshin_heading{
    grid-row: 1;
    text-align: center;
    grid-column: 1;
    margin: auto;
    text-shadow: 1px 0px 10px rgb(183, 210, 255);
}

#version{
    grid-row: 2;
    grid-column: 1;
    margin: auto;
    margin-top: 20px;
    animation: 3s fadein;
    color: white;
}

#version_caption{
    grid-row: 3;
    grid-column: 1;
    margin: auto;
}
#travelers{
    grid-row: 4;
    text-align: center;
    grid-column: 1;
    margin: auto;
}

#travelers_image{
    grid-row: 5;
    grid-column: 1;
    margin: auto;
    animation: 3s fadein;
}

#travelers_caption{
    grid-row: 6;
    grid-column: 1;
}
#whatelse{
    grid-row: 7;
    text-align: left;
    grid-column: 1;
}

#feedback{
    grid-row: 8;
    background-color: #9A00FF;
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 0px;
    border-radius: 10px;
}

#pyro{
    color: #EE6B00;
}

#hydro{
    color: #52C3F1;
}
#anemo{
    color: #7AC4AB;
}
#electro{
    color: #B191C2;
}
#dendro{
    color: #AACB52;
}
#cryo{
    color: #A0D6E3;
}
#geo{
    color: #FAB632;
}

.visionlist{
    border: #AACB52 solid 5px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    width: 300px;
    animation: 3s fadein;
}

footer{
    text-align: center;
    grid-row: 9;
}

aside{
    border: solid rgb(255, 255, 255) 5px;
    border-radius: 20px;
    width: 300px;
    margin: auto;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: left;
}

.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.galleryimage:hover{
    height: 20%;
    opacity: 1;
}
.controls{
    margin-top: 10px;
    margin-bottom: 10px;
}
#kazuha{
    margin-top: 20px;
}
#story{
    margin-top: 10px;
    color: white;
}
video{
    width: 100%;
}

#map{
    font-size: 40px;
    color: darkred;
    margin-right: 5px;
    margin-top: 5px;
}

#lightning{
    font-size: 40px;
    color: rgb(44, 42, 106);
    margin-right: 5px;
    margin-top: 5px;
}

#person{
    font-size: 40px;
    color: rgb(19, 89, 86);
    margin-right: 5px;
    margin-top: 5px;
}

#specialinfo{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    border: darkred 10px solid;
    background-color: #FAB632;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
}

#alert{
    visibility: hidden;
}

.captions{
    color: white;
}
.visiontitle{
    color: white;
}

.archon{
    color: white;
}

button{
    color: rgb(255, 255, 255);
    background-color: #0e7a71;
    font-size: 16px;
    border-radius: 10px;
    border-color: aliceblue;
}

#info{
    margin-top: 50px;
    background-color: black;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

.nation{
    color: white;
}

.visionimg{
    animation: 3s fadein;
}

form{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
}

.label1{
    grid-column: 1;
    grid-row: 1;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

.label2{
    grid-column: 1;
    grid-row: 2;
    margin-top: 20px;
    margin-bottom: 10px;
    color: white;
}

input{
    font-size: 16px;
    width: 220px;
    border-radius: 50px;
    border-color: white;
}

textarea{
    font-size: 16px;
    height: 50px;
    width: 220px;
    border-radius: 20px;
}

.submit{
    color: rgb(255, 255, 255);
    background-color: darkred;
}
/* Tablet View */
@media (min-width: 768px){

    nav{
        background-color: white;
        width: 800px;
    }

    main{
        margin-left: 50px;
        margin-right: 50px;
    }

    #home_grid{
        display: grid;
        grid-template-rows: 0.2fr 0.2fr 0.2fr 0.4fr 0.5fr 0.05fr;
        grid-template-columns: 0.4fr 1fr;
        grid-column-gap: 20px;
    }

    #genshin_heading{
        grid-row: 1/1;
        grid-column: 1/ span all;
        text-align: center;
    }

    #version{
        grid-row: 2;
        grid-column: 1;
        margin-top: 22px;
    }

    #version_caption{
        grid-row: 2;
        grid-column: 2/ span all;
    }
    #travelers{
        grid-row: 3;
        grid-column: 1/3;
        text-align: left;
        color: aliceblue;
        border-bottom: aliceblue 5px;
        border-style: groove;
    }

    #travelers_image{
        grid-row: 4;
        grid-column: 1;
        margin-top: 22px;
    }

    #travelers_caption{
        grid-row: 4;
        grid-column: 2/ span all;
        margin-left: 0px;
        margin-top: 0px;
    }
    #whatelse{
        padding-left: 20px;
        grid-row: 5;
        grid-column: 1/3;
        text-align: left;
        margin-top: 20px;
    }

    #feedback{
        padding-left: 20px;
        padding-bottom: 20px;
    }
    .gallery{
        text-align: center;
    }
}

/* Desktop View */
@media (min-width: 986px){

    .fa-solid{
        position: absolute;
        top: 20px;
        right: 50px;
        font-size: 80px;
        color: purple;
    }

    main{
        margin-left: 300px;
        margin-right: 300px;
    }

    nav{
        width: 100%;
        padding:25px;
        text-align: center;
        display: flex;
        justify-content: center;
        background-color: white;
        border-bottom: 5px solid rgb(74, 99, 189);
    }

    .nav_link{
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
        flex-direction: row;
        align-items: center;
        font-size: 32px;
    }

    #indexbody{
        background-image: url('../images/bg.png');
        background-repeat: round;
        max-width: 100%;
    }

    footer{
        margin: auto;
        grid-row: 6;
    }
    .aside_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .current_nations{
        grid-column: 1;
    }

    .future_nations{
        grid-column: 2;
    }

    aside{
        padding-left: 15px;
    }

    .gallery{
        flex-wrap: nowrap;
    }
    .galleryimage{
        height: 300px;
        width: auto;
    }
    figcaption{
        margin-left: 20px;
        margin-right: 20px;
        align-self: flex-end;
        height: 50px;
    }
    figure {
        display: flex;
        flex-direction: column;
    }

    #charactersfooter{
        margin-top: -20px;
    }
    #nationsbody{
        background-image: url('../images/bg_3.png');
        background-repeat: no-repeat;
        max-width: 100%;
    }

    #charactersbody{
        background-image: url('../images/bg_4.png');
    }
    #kazuha{
        margin-top: 100px;
    }
    video{
        width: auto;
        border: white solid 10px;
        border-radius: 20px;
    }

    #info{
        margin-top: 150px;
    }

    #map{
        font-size: 70px;
        margin-right: 10px;
        position: fixed;
    }
    #lightning{
        font-size: 70px;
        margin-right: 10px;
        position: fixed;
    }

    #person{
        font-size: 70px;
        margin-right: 10px;
        position: fixed;
    }

    #special{
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
    }

    #alert{
        visibility: visible;
        font-size: 50px;
        color: darkred;
        position: absolute;
        left: 1250px;
        top: 2500px;
        text-shadow: 1px 0px 30px rgb(227, 147, 49);
    }

    input{
        width: 500px;
    }

    textarea{
        height: 100px;
        width: 500px;
        margin-bottom: 20px;
    }
    .submit{
        width: 200px;
    }
}

@media (prefers-reduced-motion){
    header img{
        animation: none;
    }
}
